$prefix-switch: $prefix + 'switch';

$switch-props: (
	"": (".form-check", ".form-switch"),
	"description": ".form-check-description",
	"label": ".form-check-label",
	"inline": ".form-check-inline",
	"input": ".form-check-input",
);

.#{$prefix-switch} {
	@include apply-props($switch-props);

	&-description {
		@each $key, $value in $theme-colors {
			&-color-#{$key} {
				color: #{$value} !important;
			}
		}
	}

	&-input {
		@each $key, $value in $theme-colors {
			&-color-#{$key}:checked {
				background-color: #{$value} !important;
			}
		}
	}
}
