@import '@tabler/core/src/scss/vendor/tom-select';

$prefix-autocomplete: $prefix + 'autocomplete';

select.#{$prefix-autocomplete}-loaded {
	clip: rect(0 0 0 0) !important;
	border: 0 !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}


.#{$prefix-autocomplete} {
	&-dropdown {
		@extend .dropdown-menu;
		@extend .w-100;
		top: 36px;
	}

	&-option {
		@extend .dropdown-item;

		&[data-selectable] {
			display: block;
		}
	}

	.no-results {
		padding-left: 6px;
	}
}