{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "css",
	"importOrder": [
		"^svelte",
		"^prismjs",
		"^prism-svelte",
		"<THIRD_PARTY_MODULES>",
		"^$lib/(.*)$",
		"^\\$",
		"^[.](.*)",
		".(css|scss)$",
		".(gif|jpg|jpeg|png|svg)$"
	],
	"importOrderCaseInsensitive": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"insertPragma": false,
	"jsxSingleQuote": false,
	"overrides": [],
	"plugins": [],
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyle": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false,
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true
}
