@import '@tabler/core/src/scss/vendor/tom-select';

.u-autocomplete {
	&-items {
	  @extend .dropdown-menu;
	  @extend .w-100;
	  top: 36px;
	}
	&-item {
	  @extend .dropdown-item;
	}
	.no-results {
	  padding-left: 6px;
	}
  }