$prefix-checkbox: $prefix + 'checkbox';

.#{$prefix-checkbox} {
	@extend .form-check;

	&-description {
		@extend .form-check-description;
	}

	&-inline {
		@extend .form-check-inline;
	}

	&-input {
		@extend .form-check-input;
	}

	@each $key,
	$value in $theme-colors {
		&-input-#{$key}:checked {
			background-color: #{$value} !important;
		}
	}

	&-label {
		@extend .form-check-label;
	}
}