.u-switch {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	padding-left: 2rem;
	display: inline;
	appearance: none;
	border: 1px solid rgba(98, 105, 118, 0.24);
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 1rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23e6e7e9'/%3e%3c/svg%3e");
	background-position: left center;
	border-radius: 2rem;
	transition: background-color 0.3s, background-position 0.3s;
}

.u-switch:active {
	filter: brightness(90%);
}

.u-switch:checked {
	background-color: #206bc4;
	border-color: rgba(98, 105, 118, 0.24);
}

.u-switch:checked {
	background-position: right center;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.u-switch:focus {
	border-color: #90b5e2;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(32 107 196 / 25%);
}
