$prefix-switch: $prefix + 'switch';

.#{$prefix-switch} {
	@extend .form-check;
	@extend .form-switch;

	&-description {
		@extend .form-check-description;

		@each $key,
		$value in $theme-colors {
			&-description-#{$key} {
				color: #{$value} !important;
			}
		}
	}

	&-inline {
		@extend .form-check-inline;
	}

	&-input {
		@extend .form-check-input;

		@each $key,
		$value in $theme-colors {
			&-color-#{$key}:checked {
				background-color: #{$value} !important;
			}
		}
	}

	&-label {
		@extend .form-check-label;
	}
}
