$prefix-switch: $prefix + 'switch';

.#{$prefix-switch} {
	@extend .form-check;
	@extend .form-switch;
	width: fit-content !important;

	&-description {
		@extend .form-check-description;
	}

	&-inline {
		@extend .form-check-inline;
	}

	&-input {
		@extend .form-check-input;
	}

	&-label {
		@extend .form-check-label;
	}

	@each $key,
	$value in $theme-colors {
		&-input-#{$key}:checked {
			background-color: #{$value} !important;
		}
	}
}