@use 'sass:color';
$prefix-alert: $prefix + "alert";

.#{$prefix-alert} {
	@extend .alert;
	display: flex;

	&:not(.#{$prefix-alert}-variant-filled) {
		.#{$prefix-alert}-body {
			@extend .text-muted;
		}
	}

	&-start {
		@extend .me-3;
	}

	&-actions {
		@extend .btn-list;
		@extend .mt-2;
	}

	&-close {
		@extend .btn-close;
	}

	&-dismissible {
		@extend .alert-dismissible;
	}

	&-variant-filled {
		@extend .alert-important;

		.#{$prefix-alert}-title {
			color: white;
		}
	}

	&-icon {
		@extend .alert-icon;
	}

	&-title {
		@extend .alert-title;
	}

	@each $key,
	$value in $theme-colors {
		&-color-#{$key} {
			--#{$prefix-alert}-color: #{$value};

			&.#{$prefix-alert}-variant-ghost {
				background-color: #{color.adjust($value, $alpha: -0.9)} !important;
			}
		}
	}
}