.u-app-loading-bar {
	overflow: hidden;
	display: none;
	position: relative;
	height: 0.25rem;
	width: 100%;
}

@each $color, $value in theme-colors() {
	.u-app-loading-bar-#{$color} {
		@extend .bg-#{$color}-lt;
		.u-app-loading-bar-body {
			@extend .bg-#{$color};
		}
	}
}

.u-app-loading-bar-fixed {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}

.u-app-loading-bar-indeterminate > .u-app-loading-bar-body {
	animation: u-app-loading-bar 1s linear infinite;
}

.u-app-loading-bar-show {
	display: block;
}

.u-app-loading-bar-body {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 0.125rem;
}

@keyframes u-app-loading-bar {
	0% {
		left: 0%;
		width: 0%;
	}
	50% {
		left: 10%;
		width: 80%;
	}
	100% {
		left: 100%;
		width: 0%;
	}
}
