$prefix-app: $prefix + 'app';
$transition: all 0.4s ease;

.#{$prefix-app} {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	overflow: hidden;
	flex-direction: column;

	&-footer {
		position: absolute;
		display: flex;
		bottom: 0;

		transition: $transition;
	}

	&-header {
		position: absolute;
		display: flex;
		top: 0;
		transition: $transition;
	}

	&-body {
		overflow: auto;
		position: absolute;
		display: flex;
		flex-direction: column;
		flex: 1;
		transition: $transition;
	}

	&-sidebar {
		position: absolute;
		display: flex;
		flex-direction: column;
		transition: $transition;
		z-index: 1;
		opacity: 0;
		transform: translateX(-100%);

		&-right {
			right: 0;
		}

		&.#{$prefix-app}-sidebar-right {
			transform: translateX(100%);
		}

		&.#{$prefix-app}-sidebar-open {
			transform: translateX(0);
			opacity: 1;
		}
	}
}
