$prefix-app: $prefix + 'app';
$prefix-app-header: $prefix + 'app-header';
$prefix-app-footer: $prefix + 'app-footer';
$prefix-body: $prefix + 'body';

.#{$prefix-body} {
	&-theme-dark {
		@extend .theme-dark;
	}

	&-theme-light {
		// @extend .theme-light;
	}
}

.#{$prefix-app} {
	@extend .page;

}

.#{$prefix-app-header} {
	@extend .navbar;
	@extend .navbar-expand-md;
	@extend .d-print-none;

	&-theme-light {
		@extend .navbar-light;
	}

	&-theme-dark {
		@extend .navbar-dark;
	}
}

.#{$prefix-app-footer} {
	@extend .footer;
	@extend .footer-transparent;
	@extend .d-print-none;
}