.u-badge {
	@extend .badge;

	// TODO: support RTL
	.u-button & {
		margin-left: 0.5rem;
	}
}

.u-badge-outline {
	@extend .badge-outline;
}

.u-badge-round {
	@extend .badge-pill;
}

.u-badge-tile {
	border-radius: 0;
}

@each $color, $value in theme-colors() {
	.u-badge-#{$color}:not(.u-badge-outline):not(.u-badge-ghost) {
		@extend .bg-#{$color};
	}

	.u-badge-#{$color}.u-badge-outline:not(.u-badge-ghost) {
		@extend .text-#{$color};
	}

	.u-badge-#{$color}.u-badge-ghost:not(.u-badge-outline) {
		@extend .bg-#{$color}-lt;
	}
}

.u-avatar > .u-badge {
	transform: translate(-50%, -50%);

	&.u-badge-topleft {
		top: 0;
		left: 0;
	}
	&.u-badge-topcenter {
		top: 0;
		left: 50%;
	}
	&.u-badge-topright {
		top: 0;
		left: 100%;
	}

	&.u-badge-centerleft {
		top: 50%;
		left: 0;
	}
	&.u-badge-centercenter {
		top: 50%;
		left: 50%;
	}
	&.u-badge-centerright {
		top: 50%;
		left: 100%;
	}

	&.u-badge-bottomleft {
		top: 100%;
		left: 0;
	}
	&.u-badge-bottomcenter {
		top: 100%;
		left: 50%;
	}
	&.u-badge-bottomright {
		top: 100%;
		left: 100%;
	}
}
