$sizes: (
	sm: 1rem,
	md: 1.25rem,
	lg: 1.5rem,
);

$sizes-ratio: (
	sm: 8,
	md: 3,
	lg: 3,
);

.u-button {
	@extend .btn;
}

.u-button-block {
	width: 100%;
}

// TODO
.u-button-circle {
}

.u-button-disabled {
	@extend .disabled;
}

.u-button-elevation-0 {
	box-shadow: none;
}

.u-button-link {
	padding: 0;
	border: none;
	background: none;
	text-decoration: underline !important;
}

.u-button-loading {
	@extend .btn-loading;
}

.u-button-round {
	@extend .btn-pill;
}

.u-button-tile {
	border-radius: 0;
}

.u-button-sm,
.u-button-group-sm > .u-button {
	@extend .btn-sm;
}

.u-button-lg,
.u-button-group-lg > .u-button {
	@extend .btn-lg;
}

@each $key, $value in theme-colors() {
	.u-button-#{$key} {
		@extend .btn-#{$key};
	}
	.u-button-#{$key}.u-button-outline {
		@extend .btn-outline-#{$key};
	}
	.u-button-#{$key}.u-button-ghost {
		@extend .btn-ghost-#{$key};
	}
}

.u-button > .u-icon {
	color: inherit;
}

.u-button-group {
	display: inline-flex;

	.u-button:active,
	.u-button:focus,
	.u-button:hover {
		z-index: 1;
	}

	&:not(.u-button-group-horizontal) {
		flex-direction: column;
		& > .u-button:not(:first-child) {
			margin-top: -1px;
		}
		& > .u-button:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		& > .u-button:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&:not(.u-button-group-vertical) {
		flex-direction: row;
		& > .u-button:not(:first-child) {
			margin-inline-start: -1px;
		}
		& > .u-button:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		& > .u-button:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.u-button-icon > .u-icon {
	margin: 0 !important;
}

@each $key, $value in $sizes {
	$padding: calc($value / map-get($sizes-ratio, $key));
	.u-button-#{$key} > .u-icon,
	.u-button-group-#{$key} > .u-button > .u-icon {
		font-size: $value;
		width: $value;
		height: $value;
		min-width: $value;
		margin: 0 calc($value / 2.5) 0 calc($value / -10);
	}
	.u-button-#{$key}.u-button-icon {
		padding-right: $padding;
		padding-left: $padding;
	}
	.u-button-group-#{$key} > .u-button-icon {
		padding-right: $padding !important;
		padding-left: $padding !important;
	}
}
