//
// Card
//
$prefix-card : $prefix +'card';
$prefix-card-status : $prefix-card +'-status';

.#{$prefix-card} {
	@extend .card;

	// Card Body
	&-body {
		@extend .card-body;
	}

	// Card Header
	&-header {
		@extend .card-header;
	}

	// Card Title
	&-title {
		@extend .card-title;
	}

	// Card Subtitle
	&-subtitle {
		@extend .card-subtitle;
	}

	// Card Footer
	&-footer {
		@extend .card-footer;
		color: inherit;
		display: flex;
		align-items: center;

		&.#{$prefix-card}-footer-transparent {
			@extend .card-footer-transparent;
		}
	}

	&-tile {
		border-radius: 0;
	}

	&-actions {
		@extend .card-actions;
	}

	&-stamp {
		@extend .card-stamp;

		&-icon {
			@extend .card-stamp-icon;
		}

		@each $key,
		$value in $card-stamp-sizes {
			&-size-#{$key} {
				--stamp-size: #{$value};
			}
		}

		@each $key,
		$value in $theme-colors {
			&-color-#{$key} &-icon {
				@extend .bg-#{$key};
			}
		}
	}

}

// Card Status
.#{$prefix-card-status} {

	@each $key,
	$value in $theme-colors {
		&-color-#{$key} {
			@extend .bg-#{$key};
		}
	}

	@each $key in top,
	start,
	bottom {
		&-position-#{$key} {
			@extend .card-status-#{$key};
		}
	}

	@each $key,
	$value in $card-status-sizes {

		&-size-#{$key} {

			&.#{$prefix-card-status}-position-top,
			&.#{$prefix-card-status}-position-bottom {
				height: $value;
			}
		}

		&-size-#{$key} {
			&.#{$prefix-card-status}-position-start {
				width: $value;
			}
		}

	}
}