.u-card {
	@extend .card;
}

.u-card-body {
	@extend .card-body;
}

.u-card-tile {
	border-radius: 0;
}

@each $size in sm, md, lg {
	.u-card-#{$size} {
		@extend .card-#{$size};
	}
}

.u-card-footer {
	@extend .card-footer;
}

.u-card-header {
	@extend .card-header;
}

.u-card-title {
	@extend .card-title;
}

.u-card-media > * {
	border-radius: var(--tblr-card-border-radius);
}

.u-card-media-top > * {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.u-card-media-start > * {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.u-card-media-middle > * {
	border-radius: 0;
}

.u-card-media-end > * {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.u-card-media-bottom > * {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
