//
// col
//
$prefix-col : $prefix +'col';


$aligns: start, center, end, baseline, stretch;
$justifies: start, center, end, between, around;
$breakpoints: sm, md, lg, xl;

.#{$prefix-col} {
    @extend .col;

    // @each $align in $aligns {
    //     &-align-#{$align} {
    //         @extend .align-items-#{$align};
    //     }

    //     @each $size in $breakpoints {
    //         &-align-#{$size}-#{$align} {
    //             @extend .align-items-#{$size}-#{$align};
    //         }

    //     }
    // }

    // @each $justify in $justifies {
    //     &-justify-#{$justify} {
    //         @extend .justify-content-#{$justify};
    //     }

    //     @each $size in $breakpoints {
    //         &-justify-#{$size}-#{$justify} {
    //             @extend .justify-content-#{$size}-#{$justify};
    //         }
    //     }
    // }
}