//
// col
//
$prefix-col : $prefix +'col';


$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$breakpoints: sm, md, lg, xl;

.#{$prefix-col} {
    @extend .col;

    @each $col in $cols {
        &-cols-#{$col} {
            @extend .col-#{$col};
        }

        @each $size in $breakpoints {
            &-#{$size}-#{$col} {
                @extend .col-#{$size}-#{$col};
            }

        }
    }

    // @each $justify in $justifies {
    //     &-justify-#{$justify} {
    //         @extend .justify-content-#{$justify};
    //     }

    //     @each $size in $breakpoints {
    //         &-justify-#{$size}-#{$justify} {
    //             @extend .justify-content-#{$size}-#{$justify};
    //         }
    //     }
    // }
}