$types: (dashed, solid, dotted);
$widths: (
	thin: 1px,
	medium: 2px,
	thick: 3px,
);

.u-divider {
	--u-divider-type: solid;
	--u-divider-gutter: 0.5rem;
	--u-divider-opacity: 0.25;

	font-size: 0.75rem;
	color: var(--u-divider-color);
	display: flex;
	align-items: center;

	&:before,
	&:after {
		content: '';
		flex: 1 1 auto;
		opacity: var(--u-divider-opacity);
	}

	&.u-divider-start:before,
	&.u-divider-end::after {
		content: none;
	}
}

@each $key in $types {
	.u-divider-#{$key} {
		--u-divider-type: #{$key};
	}
}

@each $key, $value in $widths {
	.u-divider-#{$key} {
		--u-divider-width: #{$value};
	}
}

.u-divider-horizontal {
	flex-direction: row;

	&:before,
	&:after {
		border-top-color: var(--u-divider-color);
		border-top-style: var(--u-divider-type);
		border-top-width: var(--u-divider-width);
	}

	&:before {
		margin-inline-end: var(--u-divider-gutter);
	}

	&:after {
		margin-inline-start: var(--u-divider-gutter);
	}

	&.u-divider-empty:before,
	&.u-divider-empty:after {
		margin-inline: 0;
	}

	&.u-divider-middle:before {
		margin-inline-start: 1rem;
	}

	&.u-divider-middle:after {
		margin-inline-end: 1rem;
	}

	&.u-divider-inset:before {
		margin-inline-start: 5rem;
	}
}

.u-divider-vertical {
	flex-direction: column;

	// TODO
	// min-width: auto;
	height: auto;
	min-height: 100%;
	align-self: stretch;

	&:before,
	&:after {
		border-left-color: var(--u-divider-color);
		border-left-style: var(--u-divider-type);
		border-left-width: var(--u-divider-width);
	}

	&:before {
		margin-block-end: var(--u-divider-gutter);
	}

	&:after {
		margin-block-start: var(--u-divider-gutter);
	}

	&.u-divider-empty:before,
	&.u-divider-empty:after {
		margin-block: 0;
	}

	&.u-divider-middle:before {
		margin-block-start: 1rem;
	}

	&.u-divider-middle:after {
		margin-block-end: 1rem;
	}

	&.u-divider-inset:before {
		margin-block-start: 5rem;
	}
}
