@import 'grid-item.variables';

.u-grid-item {
	flex-grow: 0;
	flex-basis: auto;
	max-width: none;
	box-sizing: border-box;
}

@each $key, $value in $align-self {
	.u-grid-item-align-self-#{$key} {
		align-self: $value;
	}
}

@each $breakpoint, $value in $breakpoints {
	@include media-breakpoint-up($breakpoint) {
		@each $key, $value in $align-self {
			.u-grid-item-align-self-#{$breakpoint}-#{$key} {
				align-self: $value;
			}
		}
	}
}

.u-grid-item-col-auto {
	flex-basis: auto;
	max-width: none;
}

.u-grid-item-col-grow {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}

@for $number from 1 through $column {
	.u-grid-item-col-#{$number} {
		flex-basis: $number * $base;
		max-width: $number * $base;
	}
	.u-grid-item-offset-#{$number} {
		margin-left: $number * $base;
	}
	.u-grid-item-order-#{$number} {
		order: $number;
	}
}

@each $breakpoint, $value in $breakpoints {
	@include media-breakpoint-up($breakpoint) {
		.u-grid-item-#{$breakpoint}-auto {
			flex-basis: auto;
			max-width: none;
		}
		.u-grid-item-#{$breakpoint}-grow {
			flex-grow: 1;
			flex-basis: 0;
			max-width: 100%;
		}
		@for $number from 1 through $column {
			.u-grid-item-#{$breakpoint}-#{$number} {
				flex-basis: $number * $base;
				max-width: $number * $base;
			}
			.u-grid-item-offset-#{$breakpoint}-#{$number} {
				margin-left: $number * $base;
			}
			.u-grid-item-order-#{$breakpoint}-#{$number} {
				order: $number;
			}
		}
	}
}

@each $breakpoint, $value in slice($breakpoints, 2, -2) {
	$next: breakpoint-next($breakpoint);
	@include media-breakpoint-down($next) {
		.u-grid-item-#{$breakpoint}-hide-down {
			display: none;
		}
	}
}

@each $breakpoint, $value in $breakpoints {
	$next: breakpoint-next($breakpoint);
	@include media-breakpoint-between($breakpoint, $next) {
		.u-grid-item-#{$breakpoint}-hide {
			display: none;
		}
	}
}

@each $breakpoint, $value in slice($breakpoints, 1, -2) {
	@include media-breakpoint-up($breakpoint) {
		.u-grid-item-#{$breakpoint}-hide-up {
			display: none;
		}
	}
}
