@import 'grid-item.variables';

.u-grid-item {
	flex-grow: 0;
	flex-basis: auto;
	max-width: none;
	box-sizing: border-box;

	&-col-auto {
		flex-basis: auto;
		max-width: none;
	}

	&-col-grow {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	@each $key,
	$value in $align-self {
		&-align-self-#{$key} {
			align-self: $value;
		}
	}

	@each $breakpoint,
	$value in $breakpoints {
		@include media-breakpoint-up($breakpoint) {

			@each $key,
			$value in $align-self {
				&-align-self-#{$breakpoint}-#{$key} {
					align-self: $value;
				}
			}
		}
	}


	@for $number from 1 through $column {
		&-col-#{$number} {
			flex-basis: $number * $base;
			max-width: $number * $base;
		}

		&-offset-#{$number} {
			margin-left: $number * $base;
		}

		&-order-#{$number} {
			order: $number;
		}
	}

	@each $breakpoint,
	$value in $breakpoints {
		@include media-breakpoint-up($breakpoint) {
			&-#{$breakpoint}-auto {
				flex-basis: auto;
				max-width: none;
			}

			&-#{$breakpoint}-grow {
				flex-grow: 1;
				flex-basis: 0;
				max-width: 100%;
			}

			@for $number from 1 through $column {
				&-#{$breakpoint}-#{$number} {
					flex-basis: $number * $base;
					max-width: $number * $base;
				}

				&-offset-#{$breakpoint}-#{$number} {
					margin-left: $number * $base;
				}

				&-order-#{$breakpoint}-#{$number} {
					order: $number;
				}
			}
		}
	}

	@each $breakpoint,
	$value in slice($breakpoints, 2, -2) {
		$next: breakpoint-next($breakpoint);

		@include media-breakpoint-down($next) {
			&-#{$breakpoint}-hide-down {
				display: none;
			}
		}
	}

	@each $breakpoint,
	$value in $breakpoints {
		$next: breakpoint-next($breakpoint);

		@include media-breakpoint-between($breakpoint, $next) {
			&-#{$breakpoint}-hide {
				display: none;
			}
		}
	}

	@each $breakpoint,
	$value in slice($breakpoints, 1, -2) {
		@include media-breakpoint-up($breakpoint) {
			&-#{$breakpoint}-hide-up {
				display: none;
			}
		}
	}
}