$sizes: (
	xs: 0.75rem,
	sm: 0.875rem,
	md: 1rem,
	lg: 1.25rem,
	xl: 1.5rem,
	1x: 1rem,
	2x: 2rem,
	3x: 3rem,
	4x: 4rem,
	5x: 5rem,
	6x: 6rem,
	7x: 7rem,
	8x: 8rem,
	9x: 9rem,
);

.u-icon {
	@extend .icon;
}

@each $key, $value in theme-colors() {
	.u-icon-color-#{$key} {
		@extend .text-#{$key};
	}
}

@each $key, $value in $sizes {
	.u-icon-size-#{$key} {
		width: #{$value} !important;
		height: #{$value} !important;
	}
}

.u-icon path {
	stroke-width: 1.5;
}
