$prefix-page: $prefix + 'page';
$prefix-page-hedaer: $prefix + 'page-header';

.#{$prefix-page} {
    width: 100%;
}

.#{$prefix-page-hedaer} {
    @extend .page-header;

    &-title {
        @extend .page-title;
    }
}