$prefix-page: $prefix + 'page';
$prefix-page-body: $prefix + 'page-body';
$prefix-page-hedaer: $prefix + 'page-header';

.#{$prefix-page} {
	@extend .page-wrapper;
}

.#{$prefix-page-body} {
	@extend .page-body;
}


.#{$prefix-page-hedaer} {
	@extend .page-header;

	&-title {
		@extend .page-title;
	}
}