$prefix-table: $prefix + "table";
$table-size: "sm", "md";

.#{$prefix-table} {
	@extend .table;
	@extend .table-nowrap;
	@extend .table-vcenter;

	&-border {
		@extend .table-bordered;
	}

	&-hover {
		@extend .table-hover;
	}

	&-parent {
		@extend .table-responsive;
	}

	&-striped {
		@extend .table-striped;
	}

	&-wrap> :not(caption)>*>* {
		white-space: unset;
	}

	@each $size in $table-size {
		&-#{$size} {
			@extend .table-#{$size} !optional;
		}
	}
}