.u-tooltip {
	background: #333;
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	font-size: 13px;
	border-radius: 4px;

	&-arrow {
		visibility: hidden;
	}

	&-arrow,
	&-arrow::before {
		position: absolute;
		width: 8px;
		height: 8px;
		background: inherit;
	}

	&-arrow::before {
		visibility: visible;
		content: '';
		transform: rotate(45deg);
	}

	&[data-popper-placement^='top'] > .u-tooltip-arrow {
		bottom: -4px;
	}

	&[data-popper-placement^='bottom'] > .u-tooltip-arrow {
		top: -4px;
	}

	&[data-popper-placement^='left'] > .u-tooltip-arrow {
		right: -4px;
	}

	&[data-popper-placement^='right'] > .u-tooltip-arrow {
		left: -4px;
	}
}
