.home-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	padding: 8px 12px;
	border-radius: 8px;
	line-height: 1.5;
	text-decoration: none;
}

.home-button-color-primary {
	background-color: #206bc4;
	color: white;
}

.home-el-text-align-center {
	text-align: center;
}

.home-el-bg-color-secondary {
	background-color: #e3e8ed;
}

.home-el-d-flex {
	display: flex;
}
.home-el-align-items-center {
	align-items: center;
}

.home-el-justify-content-center {
	justify-content: center;
}
.home-el-justify-content-between {
	justify-content: space-between;
}

.home-el-px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.home-button-size-lg {
	font-size: 20px;
}

.home-el-row {
	display: flex;
	flex-wrap: wrap;
}

.home-el-gap-3 {
	gap: 1rem;
}

.home-el-p-3 {
	padding: 1rem;
}

.home-el-h-100 {
	height: 100%;
}

.home-el-mb-3 {
	margin-bottom: 1rem;
}

.home-el-col-5 {
	width: 41.6%;
}
.home-el-col-2 {
	width: 16.6%;
}

.home-el-mt-3 {
	margin-top: 1rem;
}
.home-el-text-muted {
	opacity: 0.7;
}

.home-el-col-12 {
	width: 100%;
}

.home-el-p-1 {
	padding: 0.25rem;
}

.flex-column {
	flex-direction: column;
}

body,
html {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

* {
	margin: 0;
	box-sizing: border-box;
}

.home-button-color-github {
	background-color: #181717;
	color: white;
}

@media (min-width: 576px) {
	.home-el-col-sm-6 {
		flex-basis: 0 0 auto;
		width: 50%;
	}
}

.home-el-border-round-size-3 {
	border-radius: 8px;
}

.home-el-mb-5 {
	margin-bottom: 4rem;
}

.home-icon-size-xl {
	width: 24px;
	height: 24px;
}

.home-el-px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.home-el-bg-color-github {
	background-color: #181717;
	color: white;
}

.home-el-shadow-lg {
	box-shadow: 0 1rem 3rem #00000018;
}

.home-el-gap-4 {
	gap: 2rem;
}

.large-text {
	letter-spacing: -1px;
	line-height: 34px;
	font-size: 42px;
	font-weight: bold;
}

.medium-text {
	margin-top: 16px;
	line-height: 24px;
	font-size: 22px;
	font-weight: 300;
}

.plus {
	font-size: 52px;
	font-weight: bold;
}

.text-terminal {
	font-family: monospace;
	font-size: 18px;
}

.custom-container {
	max-width: 450px;
}

.img {
	object-fit: contain;
	width: 180px;
}

.img-ubeac {
	filter: drop-shadow(0 0 3rem #376ccf90);
}
.img-svelte {
	scale: 0.8;
	filter: drop-shadow(0 0 3rem #fe3c0060);
}

.clipboard-icon {
	cursor: pointer;
}

@media (max-width: 500px) {
	.img {
		width: 130px;
	}

	.main-buttons {
		flex-direction: column;
	}
}
