
	.u-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 16px;
		padding: 8px 12px;
		border-radius: 8px;
		line-height: 1.5;
		text-decoration: none;
	}

	.u-button-color-primary {
		background-color: #206bc4;
		color: white;
	}

	.u-el {
		/*  */
	}
	.u-el-text-align-center {
		text-align: center;
	}

	.u-el-bg-color-secondary {
		background-color: #e3e8ed;
	}

	.u-el-d-flex {
		display: flex;
	}
	.u-el-align-items-center {
		align-items: center;
	}

	.u-el-justify-content-center {
		justify-content: center;
	}
	.u-el-justify-content-between {
		justify-content: space-between;
	}

	.u-el-px-1 {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}

	.u-button-size-lg {
		font-size: 20px;
	}

	.u-el-row {
		display: flex;
		flex-wrap: wrap;
	}

	.u-el-gap-3 {
		gap: 1rem;
	}

	.u-el-p-3 {
		padding: 1rem;
	}

	.u-el-h-100 {
		height: 100%;
	}
	
	.u-el-mb-3 {
		margin-bottom: 1rem;
	}

	.u-el-col-5 {
		width: 41.6%;
	}
	.u-el-col-2 {
		width: 16.6%;
	}

	.u-el-mt-3 {
		margin-top: 1rem;
	}
	.u-el-text-muted {
		opacity: 0.7;
	}

	.u-el-col-12 {
		width: 100%;
	}

	.u-el-p-1 {
		padding: 0.25rem;
	}

	.flex-column {
		flex-direction: column;
	}

	body, html {
		height: 100%;
	}

	body {
		overflow: hidden;
		font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;

	}

	* {
		margin: 0;
		box-sizing: border-box;
	}


	.u-button-color-github {
		background-color: #181717;
		color: white;
	}

	@media (min-width: 576px) {
		.u-el-col-sm-6 {
			flex-basis: 0 0 auto;
			width: 50%;
		}
	}

	.u-el-border-round-size-3 {
		border-radius: 8px;
	}

	.u-el-mb-5 {
		margin-bottom: 4rem;
	}

	.u-icon-size-xl {
		width: 24px;
		height: 24px;
	}

	.u-el-px-2 {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.u-el-bg-color-github {
		background-color: #181717;
		color: white;
	}
	
	.u-el-shadow-lg {
		box-shadow: 0 1rem 3rem #00000018;
	}

	.u-el-gap-4 {
		gap: 2rem;
	}
	
	.large-text {
		letter-spacing: -1px;
		line-height: 34px;
		font-size: 42px;
		font-weight: bold;
	}

	.medium-text {
		margin-top: 16px;
		line-height: 24px;
		font-size: 22px;
		font-weight: 300;
	}

	.plus {
		font-size: 52px;
		font-weight: bold;
	}

	.text-terminal {
		font-family: monospace;
		font-size: 18px;
	}

	.custom-container {
		max-width: 450px;
	}

	.img {
		object-fit: contain;
		width: 180px;
	}

	.img-ubeac {
		filter: drop-shadow(0 0 3rem #376ccf90);
	}
	.img-svelte {
		scale: 0.8;
		filter: drop-shadow(0 0 3rem #fe3c0060);
	}

	.clipboard-icon {
		cursor: pointer;
	}

	@media (max-width: 500px) {
		.img {
			width: 130px;
		}

		.main-buttons {
			flex-direction: column;
		}
	}