$prefix-form-checkbox : $prefix +'form-checkbox';

.#{$prefix-form-checkbox} {

    &-description {
        padding-left: 23px;
        position: relative;
        top: -6px;
    }

    &-inline {
        @extend .form-check-inline;
    }

    @each $key,
    $value in $theme-colors {
        &-description-#{$key} {
            color: #{$value} !important;
        }
    }
}