.u-form-switch {
	@extend .form-check;
	padding: 0;
}

.u-form-switch-description {
	@extend .form-check-description;
	padding-left: 2.3rem;
}

.u-form-switch-inline {
	@extend .form-check-inline;
}

.u-form-switch-label {
	@extend .form-check-label;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0.25rem;
}
