//
// Card
//
$prefix-card: $prefix + 'card';

$props: (
	null: '.card',
	body: '.card-body',
	header: '.card-header',
	title:'.card-title',
	actions:'.card-actions',
	stacked: '.card-stacked'
);

.#{$prefix-card} {
	@include apply-props($props);

	// Card Footer
	&-footer {
		@extend .card-footer;
		color: inherit;
		display: flex;
		align-items: center;

		&.#{$prefix-card}-footer-transparent {
			@extend .card-footer-transparent;
		}
	}

	&-status {

		@each $key,
		$value in $theme-colors {
			&-color-#{$key} {
				@extend .bg-#{$key};
			}
		}

		@each $key in top,
		start,
		bottom {
			&-position-#{$key} {
				@extend .card-status-#{$key};
			}
		}

		@each $key,
		$value in $card-status-sizes {
			&-size-#{$key} {

				&.#{$prefix-card}-status-position-top,
				&.#{$prefix-card}-status-position-bottom {
					height: $value;
				}
			}

			&-size-#{$key} {
				&.#{$prefix-card}-status-position-start {
					width: $value;
				}
			}
		}
	}
}