//
// Card
//
$prefix-card: $prefix + 'card';
$prefix-card-status: $prefix-card + '-status';

$props: (
	'': '.card',
	body: '.card-body',
	header: '.card-header',
	title:'.card-title',
	actions:'.card-actions',

);

.#{$prefix-card} {
	@include apply-props($props);

	// Card Footer
	&-footer {
		@extend .card-footer;
		color: inherit;
		display: flex;
		align-items: center;

		&.#{$prefix-card}-footer-transparent {
			@extend .card-footer-transparent;
		}
	}

	&-stamp {
		@extend .card-stamp;

		&-icon {
			@extend .card-stamp-icon;
		}

		@each $key,
		$value in $card-stamp-sizes {
			&-size-#{$key} {
				--stamp-size: #{$value};
			}
		}

		@each $key,
		$value in $theme-colors {
			&-color-#{$key} &-icon {
				@extend .bg-#{$key};
			}
		}

		&-position-top-start {
			top: 0;
			left: 0;

			.#{$prefix-card}-stamp-icon {
				transform: rotate(-10deg);
				right: calc(var(--stamp-size) * 0.25);
			}
		}

		&-position-bottom-start {
			bottom: 0;
			left: 0;
			top: auto;

			.#{$prefix-card}-stamp-icon {
				top: calc(var(--stamp-size) * 0.25);
				right: calc(var(--stamp-size) * 0.25);
			}
		}

		&-position-bottom-end {
			bottom: 0;
			top: auto;

			.#{$prefix-card}-stamp-icon {
				transform: rotate(-10deg);
				top: calc(var(--stamp-size) * 0.25);
			}
		}
	}
}

// Card Status
.#{$prefix-card-status} {

	@each $key,
	$value in $theme-colors {
		&-color-#{$key} {
			@extend .bg-#{$key};
		}
	}

	@each $key in top,
	start,
	bottom {
		&-position-#{$key} {
			@extend .card-status-#{$key};
		}
	}

	@each $key,
	$value in $card-status-sizes {
		&-size-#{$key} {

			&.#{$prefix-card-status}-position-top,
			&.#{$prefix-card-status}-position-bottom {
				height: $value;
			}
		}

		&-size-#{$key} {
			&.#{$prefix-card-status}-position-start {
				width: $value;
			}
		}
	}
}