//
// Divider
//
$prefix-button: $prefix + 'divider';
$dividerPositions: 'left' 'center' 'right';

$props: (
	null: '.hr-text',
	color: generate_props($theme_colors, ('.text-')),
	divider-position: generate_props($dividerPositions, ('.hr-text-')),
);

.#{$prefix-button} {
	@include apply-props($props);
}