$prefix-progress: $prefix + 'progress';

$progress-sizes: 'sm' 'md' 'lg';
$props: (
	null:'.progress',
	progress-size: generate_props($progress-sizes, ('.progress-')),
);

.#{$prefix-progress} {
	@include apply-props($props);

	&-bar {
		@extend .progress-bar;
	}

	@each $color,
	$value in $theme-colors {
		&-color-#{$color}>.#{$prefix-progress}-bar {
			@extend .bg-#{$color};
		}
	}

	&-indeterminate>.#{$prefix-progress}-bar {
		@extend .progress-bar-indeterminate;
	}

	&-visually-hidden>.#{$prefix-progress}-bar>span {
		@extend .visually-hidden;
	}

}