$prefix-status: $prefix + 'status';

$status-props: (
	"": ".status",
	"style": (
		"dot": ".status-dot",
		"indicator": ".status-indicator"
	),
	"circle": ".status-indicator-circle",
	"lite": '.status-lite',
	'color': generate_props($theme_colors, ('.status-'))
);

.#{$prefix-status} {
	@include apply-props($status-props);

	&-dot {
		padding: 0 !important;
	}

	&-animated.#{$prefix-status}-style-dot {
		@extend .status-dot-animated;
	}

	&-animated.#{$prefix-status}-style-indicator {
		@extend .status-indicator-animated;
	}
}

