$tabs-props: (
	null: ('.d-flex', '.flex-column'),
	items: ('.nav', '.nav-tabs')
);

$tab-item-props: (
	null: '.nav-item',
	inner: (null: ('.nav-link', '.d-inline-flex', '.gap-2'),
		active: '.active',
		disabled: '.disabled'
	)
);

$tab-props: (
	null: '.tab-pane',
	active: ('.active',
		'.show'),
	body: '.card-body'
);

.#{$prefix-tabs} {
	@include apply-props($tabs-props);

	.#{$prefix-tabs}-items {

		.#{$prefix-tabs}-pills & {
			@extend .nav-pills;
		}

		.#{$prefix-tabs}-fill {
			@extend .nav-fill;
		}

		.#{$prefix-tab}-item {
			@include apply-props($tab-item-props);
		}
	}

	.#{$prefix-tabs}-content {
		@extend .tab-content;

		.#{$prefix-tab} {
			@include apply-props($tab-props);
		}
	}
}