$tabs-props: (
	null: ('.d-flex'),
	vertical: (".flex-row")
);

$tab-props: (
	list: (null: ".nav",
		pills: ".nav-pills",
		tabs: ".nav-tabs",
		grow: '.nav-fill',
		card: '.card-header-tabs',
	),
	content: '.tab-content',
	pane: (null: ('.tab-pane', '.fade'),
		active: ('.show', '.active'),
	),
	item: (null: '.nav-item',
		link: (null: '.nav-link',
			active: '.active',
			disabled: '.disabled'
		))
);

.#{$prefix-tabs} {
	@include apply-props($tabs-props);
	flex-direction: column;

	&-vertical {
		.#{$prefix-tab}-list {
			flex-direction: column;
		}
	}
}

.#{$prefix-tab} {
	@include apply-props($tab-props);
}


// .u-tabs {
// 	display: flex;
// 	flex-direction: column;

// 	&-vertical {
// 		flex-direction: row;

// 		.u-tabs-items {
// 			flex-direction: column;

// 			.u-tabs-item {
// 				justify-content: center;
// 			}
// 		}
// 	}

// 	.u-tabs-items {
// 		@extend .nav, .nav-tabs;

// 		@each $key in start, center, end {
// 			&-justify-#{$key} {
// 				justify-content: #{$key};
// 			}
// 		}

// 		.u-tabs-item {
// 			@extend .nav-link;

// 			&-active {
// 				@extend .active;
// 			}

// 			&-disabled {
// 				cursor: default;
// 				pointer-events: none;
// 			}
// 		}

// 		&-grow .u-tabs-item {
// 			flex-grow: 1;
// 		}
// 	}

// 	.u-tabs-panels {
// 		@extend .tab-content;

// 		.u-tabs-panel {
// 			@extend .tab-pane;

// 			&-active {
// 				@extend .active;
// 			}
// 		}
// 	}
// }