$tabs-props: (
	null: ('.d-flex', '.flex-column'),
	items: (null: ('.nav', '.nav-tabs'),
		card: '.card-header-tabs')
);

$tab-item-props: (
	null: '.nav-item',
	inner: (null: ('.nav-link', '.d-inline-flex', '.gap-2'),
		active: '.active',
		disabled: '.disabled',
	)
);

$tab-props: (
	null: '.tab-pane',
	active: ('.active',
		'.show'),
	body: '.card-body'
);

.#{$prefix-tabs} {
	@include apply-props($tabs-props);

	&-fill {
		.#{$prefix-tabs}-items {
			@extend .nav-fill;
		}
	}

	&-pills {
		.#{$prefix-tabs}-items {
			@extend .nav-pills;
		}
	}


	.#{$prefix-tabs}-content {
		@extend .tab-content;
	}
}

.#{$prefix-tab} {
	@include apply-props($tab-props);
}

.#{$prefix-tab}-item {
	@include apply-props($tab-item-props);
}