$prefix-tooltip: $prefix + 'tooltip';

$tooltip-props: (
	"": (".tooltip", ".bs-tooltip-auto", ".fade", ".show"),
	"arrow": ".tooltip-arrow",
	"inner": ".tooltip-inner",
);

.#{$prefix-tooltip} {
	@include apply-props($tooltip-props);
}