@use 'sass:color';
$prefix-alert: $prefix + 'alert';

.#{$prefix-alert} {
	@extend .alert;

	&-title {
		@extend .alert-title;
	}

	&-dismissible {
		@extend .alert-dismissible;
	}

	&-close {
		@extend .btn-close;
	}

	@each $key,
	$value in $theme-colors {
		&-color-#{$key} {
			@extend .alert-#{$key};
		}
	}

	&-variant-filled {
		@extend .alert-important;

		.#{$prefix-alert}-title {
			color: #fff;
		}

		.#{$prefix-alert}-close {
			@extend .btn-close-white;
		}
	}

	&-icon {
		padding-left: 3rem;

		& & {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			padding: 1rem;
		}
	}

	// @each $key,
	// $value in $theme-colors {
	// 	&-type-#{$key} {
	// 		border-left-color: #{$value};
	// 	}

	// 	&-type-#{$key}.u-alert-variant-ghost {
	// 		background-color: #{color.adjust($value, $alpha: -0.9)} !important;
	// 	}
	// }
}