$prefix-breadcrumb: $prefix + 'breadcrumb';
$breadcrumb-types: 'arrows', 'bullets', 'dots';

$breadcrumb-props: (
	"": ".breadcrumb",
	"item": (
		"": ".breadcrumb-item",
		"active": ".active"
	),
	"separator": (
		"dots": ".breadcrumb-dots",
		"arrows": ".breadcrumb-arrows",
		"bullets": ".breadcrumb-bullets",
	)
);

.#{$prefix-breadcrumb} {
	@include apply-props($breadcrumb-props);
}