//
// Button Group
//
$prefix-button-group: $prefix + 'button-group';

.#{$prefix-button-group} {
	display: inline-flex;
	flex-wrap: nowrap;
	gap: 0.5rem;

	.#{$prefix-button} {
		:active,
		:focus,
		:hover {
			z-index: 1;
		}
	}

	&-compact {
		gap: 0;
	}

	&-wrap {
		flex-wrap: wrap;
	}

	&-vertical {
		flex-direction: column;

		&.#{$prefix-button-group}-compact {
			& > .#{$prefix-button}:not(:first-child) {
				margin-top: -1px;
			}

			& > .#{$prefix-button}:not(:first-child) {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			& > .#{$prefix-button}:not(:last-child) {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	&-horizontal {
		flex-direction: row;

		&.#{$prefix-button-group}-compact {
			& > .#{$prefix-button}:not(:first-child) {
				margin-inline-start: -1px;
			}

			& > .#{$prefix-button}:not(:first-child) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			& > .#{$prefix-button}:not(:last-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}
