//
// col
//
$prefix-col: $prefix + 'col';

$cols: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$breakpoints: sm, md, lg, xl;
$aligns: start, center, end, baseline, stretch;

.#{$prefix-col} {
	@extend .col;

	&-auto {
		@extend .col-auto;
	}

	&-order {
		&-last {
			@extend .order-last;
		}

		&-first {
			@extend .order-first;
		}
	}

	@each $col in $cols {
		&-cols-#{$col} {
			@extend .col-#{$col};
		}

		&-offset-#{$col} {
			@if $col !=12 {
				@extend .offset-#{$col};
			}
		}

		&-order-#{$col} {
			@if $col < 6 {
				@extend .order-#{$col};
			}
		}

		@each $size in $breakpoints {
			@if $col !=12 {
				&-offset-#{$size}-#{$col} {
					@extend .offset-#{$size}-#{$col};
				}
			}

			&-cols-#{$size} {
				@extend .col-#{$size};
			}

			&-#{$size}-#{$col} {
				@extend .col-#{$size}-#{$col};
			}
		}
	}

	@each $align in $aligns {
		&-align-self-#{$align} {
			align-self: #{$align};
		}
	}
}
