$prefix-dialog: $prefix + 'dialog';
$prefix-dialog-container: $prefix + 'dialog-container';

.#{$prefix-dialog} {
	@extend .modal;

	&-placement-center .#{$prefix-dialog-container} {
		@extend .modal-dialog-centered;
	}

	&-scrollable .#{$prefix-dialog-container} {
		@extend .modal-dialog-scrollable;
	}

	&-container {
		@extend .modal-dialog;
	}

	&-open {
		@extend .d-block;
	}

	&-backdrop {
		@extend .modal-backdrop;
		@extend .fade;
		display: none;

		&-open {
			display: block;
			@extend .show;
			width: 100%;
			height: 100%;
		}

		&-absolute {
			@extend .position-absolute;
		}
	}

	&-close {
		@extend .btn-close;
	}

	&-absolute {
		@extend .position-absolute;
	}

	&-body {
		@extend .modal-body;
	}

	&-content {
		@extend .modal-content;
	}

	&-footer {
		@extend .modal-footer;
	}

	&-header {
		@extend .modal-header;
	}

	&-title {
		@extend .modal-title;
	}

	@each $size in sm, lg, xl {
		&-size-#{$size} .#{$prefix-dialog-container} {
			@extend .modal-#{$size};
		}
	}
}

.u-body-dialog-open {
	overflow: hidden;
}
