.u-google-map {
	@extend .border;

	&-error {
		@extend .text-muted;
		font-size: 1.5em;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&-sm {
		height: 320px;
	}

	&-md {
		height: 400px;
	}

	&-lg {
		height: 480px;
	}
}
