@import 'grid.variables';

.u-grid > div {
	--u-grid-gutter-x: 0;
	--u-grid-gutter-y: 0;
	display: flex;
	height: 100%;
	flex-wrap: nowrap;
	width: calc(var(--u-grid-gutter-x) + 100%);
	margin-left: calc(var(--u-grid-gutter-x) * -1);
	margin-bottom: calc(var(--u-grid-gutter-y) * -1);
}

.u-grid > div > .u-grid-item {
	padding-left: var(--u-grid-gutter-x);
	padding-bottom: var(--u-grid-gutter-y);
}

.u-grid-vertical > div {
	flex-direction: column;
}

.u-grid-reverse > div {
	flex-direction: row-reverse;
}

.u-grid-vertical.u-grid-reverse > div {
	flex-direction: column-reverse;
}

.u-grid-wrap > div {
	flex-wrap: wrap;
}

.u-grid-wrap-reverse > div {
	flex-wrap: wrap-reverse;
}

@each $gutter, $value in $gutters {
	@each $key in (x, y) {
		.u-grid-gutter-#{$key}-#{$gutter} > div,
		.u-grid-gutter-#{$gutter}:not(.u-grid-gutter-#{$key}) > div {
			--u-grid-gutter-#{$key}: #{$value};
		}
	}
}

@each $key, $value in $align-content {
	.u-grid-align-content-#{$key} > div {
		align-content: $value;
	}
}

@each $key, $value in $align-items {
	.u-grid-align-items-#{$key} > div {
		align-items: $value;
	}
}

@each $key, $value in $justify-content {
	.u-grid-justify-content-#{$key} > div {
		justify-content: $value;
	}
}

@each $breakpoint, $value in $breakpoints {
	@include media-breakpoint-up($breakpoint) {
		.u-grid-wrap-#{$breakpoint} > div {
			flex-wrap: wrap;
		}

		.u-grid-wrap-#{$breakpoint}-reverse > div {
			flex-wrap: wrap-reverse;
		}

		@each $key, $value in $align-content {
			.u-grid-align-content-#{$breakpoint}-#{$key} > div {
				align-content: $value;
			}
		}

		@each $key, $value in $align-items {
			.u-grid-align-items-#{$breakpoint}-#{$key} > div {
				align-items: $value;
			}
		}

		@each $key, $value in $justify-content {
			.u-grid-justify-content-#{$breakpoint}-#{$key} > div {
				justify-content: $value;
			}
		}
	}
}
