$prefix-table: $prefix + 'table';

$table-props: (
	"": ".table" ".table-nowrap" ".table-vcenter",
	parent: ".table-responsive",
	border: ".table-bordered",
	hover: ".table-hover",
	striped: ".table-striped",
	sm: ".table-sm",
	md: ".table-md"
);

.#{$prefix-table} {
	@include apply-props($table-props);

	&-wrap> :not(caption)>*>* {
		white-space: unset;
	}
}