$prefix-form-hint: $prefix + 'form-hint';

.#{$prefix-form-hint} {
	display: block;

	&-state-normal {
		@extend .form-hint;
		margin-top: 0.5rem;
	}

	&-state-valid {
		@extend .valid-feedback;
	}

	&-state-invalid {
		@extend .invalid-feedback;
	}
}
