$prefix: 'u-' !default;

$prefix-app: $prefix + 'app' !default;
$prefix-app-body: $prefix + 'app-body' !default;
$prefix-app-header: $prefix + 'app-header' !default;
$prefix-app-footer: $prefix + 'app-footer' !default;
$prefix-accordions: $prefix + 'accordions' !default;
$prefix-accordion: $prefix + 'accordion' !default;
$prefix-alert: $prefix + 'alert' !default;
$prefix-avatar: $prefix + 'avatar' !default;
$prefix-avatar-list: $prefix + 'avatar-list' !default;
$prefix-badge: $prefix + 'badge' !default;
$prefix-button: $prefix + 'button' !default;
$prefix-breadcrumb: $prefix + 'breadcrumb' !default;
$prefix-card: $prefix + 'card' !default;
$prefix-checkbox: $prefix + 'checkbox' !default;
$prefix-checkbox-group: $prefix + 'checkbox-group' !default;
$prefix-divider: $prefix + 'divider' !default;
$prefix-dot: $prefix + 'dot' !default;
$prefix-footer: $prefix + 'footer' !default;
$prefix-icon: $prefix + 'icon' !default;
$prefix-input: $prefix + 'input' !default;
$prefix-input-wrapper: $prefix-input + '-wrapper' !default;
$prefix-label: $prefix + 'label' !default;
$prefix-page: $prefix + 'page';
$prefix-page-body: $prefix + 'page-body';
$prefix-page-header: $prefix + 'page-header';
$prefix-progress: $prefix + 'progress' !default;
$prefix-radio: $prefix + 'radio' !default;
$prefix-radio-wrapper: $prefix-radio + '-wrapper' !default;
$prefix-radio-group: $prefix + 'radio-group' !default;
$prefix-ribbon: $prefix + 'ribbon' !default;
$prefix-spinner: $prefix + 'spinner' !default;
$prefix-stamp: $prefix + 'stamp' !default;
$prefix-status: $prefix + 'status' !default;
$prefix-switch: $prefix + 'switch' !default;
$prefix-table: $prefix + 'table' !default;
$prefix-table-row: $prefix + 'table-row' !default;
$prefix-table-cell: $prefix + 'table-cell' !default;
$prefix-table-parent: $prefix + 'table-parent' !default;
$prefix-textarea: $prefix + 'textarea' !default;
$prefix-textarea-wrapper: $prefix-textarea + '-wrapper' !default;
// Form
$prefix-form-field: $prefix + 'form-field' !default;
$prefix-form-checkbox: $prefix + 'form-checkbox' !default;
$prefix-form-checkbox-group: $prefix + 'form-checkbox-group' !default;